name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # 当代码推送到 main 分支时触发

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 检出代码库
      - name: Checkout code
        uses: actions/checkout@v4

      # 登录到 GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          username: peacesheep
          password: ${{ secrets.DOCKER_TOKEN }}

      # 构建 Docker 镜像
      - name: Build Docker image
        run: |
          docker build -t peacesheep/sheepim-api-gateway:latest .

      # 推送 Docker 镜像到 GHCR
      - name: Push Docker image
        run: |
          docker push peacesheep/sheepim-api-gateway:latest
